/Presence/nbproject/private/
/Presence/dist/
/Presence/build/
/Ok/nbproject/private/
/Oki/nbproject/private/
/Present/nbproject/private/
/Present/build/
GestionDePresence/nbproject/project.properties
/Present/dist/