/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020-3-29, 11:29:34
    Author     : Bonso
*/


h1{
    color:#C00000;
    position:static;
    padding-top: 20px;
    padding-left: 100px;
    
}

.formetudiant{
    width: 550px;
    float:left;
    padding-right: 100px;
}

.formajouter{
    height:250px;
    width:500px;
    float:right;
    border-bottom: 1px dashed #C00000;
    border-top: 1px dashed #C00000;
    border-left: 1px dashed #C00000;
    border-right: 1px dashed #C00000;
    padding-top:50px;
    padding-left:20px;
    
}

