<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueEtudiant</servlet-name>
        <jsp-file>/jsp/vueEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vueEnseignant</servlet-name>
        <jsp-file>/jsp/vueEnseignant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletConfirmAppel</servlet-name>
        <servlet-class>servlets.ServletConfirmAppel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAppel</servlet-name>
        <servlet-class>servlets.ServletAppel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alertConfirm</servlet-name>
        <jsp-file>/alertConfirm.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConsulterAppel</servlet-name>
        <jsp-file>/jsp/ConsulterAppel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vueResponsable</servlet-name>
        <jsp-file>/jsp/vueResponsable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AffecterEtudiant</servlet-name>
        <jsp-file>/jsp/AffecterEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ImportationDonnees</servlet-name>
        <jsp-file>/jsp/importationDonnees.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadXls</servlet-name>
        <servlet-class>servlets.responsableForm.ServletUploadXls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupCreneau</servlet-name>
        <servlet-class>servlets.responsableForm.ServletSupCreneau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupProjet</servlet-name>
        <servlet-class>servlets.responsableForm.ServletSupProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjCreneau</servlet-name>
        <servlet-class>servlets.responsableForm.ServletAjCreneau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpProjet</servlet-name>
        <servlet-class>servlets.responsableForm.ServletUpProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChoisirCours</servlet-name>
        <servlet-class>servlets.responsableForm.ServletChoisirCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChoisirFormation</servlet-name>
        <servlet-class>servlets.responsableForm.ServletChoisirFormation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterGroupe</servlet-name>
        <servlet-class>servlets.responsableForm.ServletAjouterGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffecter</servlet-name>
        <servlet-class>servlets.responsableForm.ServletAffecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletToutEtu</servlet-name>
        <servlet-class>servlets.responsableForm.ServletToutEtu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChoisirGroupe</servlet-name>
        <servlet-class>servlets.responsableForm.ServletChoisirGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppelResponsable</servlet-name>
        <jsp-file>/jsp/resAppel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConsulterFicheEtudiant</servlet-name>
        <jsp-file>/jsp/consulFicheEtu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletSaisirPres</servlet-name>
        <servlet-class>servlets.etudiant.ServeletSaisirPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrenPres</servlet-name>
        <servlet-class>servlets.etudiant.ServletCrenPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadEtudiant</servlet-name>
        <jsp-file>/jsp/downloadEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletEtuDownload</servlet-name>
        <servlet-class>servlets.etudiant.ServletEtuDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueEtudiant</servlet-name>
        <url-pattern>/vueetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueEnseignant</servlet-name>
        <url-pattern>/vueenseig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfirmAppel</servlet-name>
        <url-pattern>/confirmAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAppel</servlet-name>
        <url-pattern>/servletAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alertConfirm</servlet-name>
        <url-pattern>/alertConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterAppel</servlet-name>
        <url-pattern>/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueResponsable</servlet-name>
        <url-pattern>/vuerespon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffecterEtudiant</servlet-name>
        <url-pattern>/affectergroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportationDonnees</servlet-name>
        <url-pattern>/importdonnees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadXls</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupCreneau</servlet-name>
        <url-pattern>/servletSupCreneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupProjet</servlet-name>
        <url-pattern>/servletSupProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjCreneau</servlet-name>
        <url-pattern>/servletAjCreneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpProjet</servlet-name>
        <url-pattern>/servletUpProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChoisirCours</servlet-name>
        <url-pattern>/choisircours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChoisirFormation</servlet-name>
        <url-pattern>/choisirformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterGroupe</servlet-name>
        <url-pattern>/ajoutergroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAffecter</servlet-name>
        <url-pattern>/affecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletToutEtu</servlet-name>
        <url-pattern>/toutetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChoisirGroupe</servlet-name>
        <url-pattern>/choixgroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppelResponsable</servlet-name>
        <url-pattern>/resappel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterFicheEtudiant</servlet-name>
        <url-pattern>/feuilleetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaisirPres</servlet-name>
        <url-pattern>/saisirpres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrenPres</servlet-name>
        <url-pattern>/servletCrenPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadEtudiant</servlet-name>
        <url-pattern>/dowloadEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEtuDownload</servlet-name>
        <url-pattern>/ServletsEtuDownload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
