<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>vueenseig</servlet-name>
        <jsp-file>/jsp/vueEnseignant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletComfirmAppel</servlet-name>
        <servlet-class>servlets.enseignant.ServletComfirmAppel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueEtudiant</servlet-name>
        <jsp-file>/jsp/vueEtuidiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>serveletSaisirPres</servlet-name>
        <servlet-class>servlets.etudiant.ServeletSaisirPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueResponsable</servlet-name>
        <jsp-file>/jsp/vueResponsable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletResProjet</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletResProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSupCreneau</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletSupCreneau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSupProjet</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletSupProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAjCreneau</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletAjCreneau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCrenPres</servlet-name>
        <servlet-class>servlets.etudiant.ServletCrenPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serveltEtuPreAct</servlet-name>
        <servlet-class>servlets.etudiant.ServeltEtuPreAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpProjet</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletUpProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEnsCre</servlet-name>
        <servlet-class>servlets.enseignant.ServletEnsCre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alertConfirm</servlet-name>
        <jsp-file>/alertConfirm.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletUpEtu</servlet-name>
        <servlet-class>servlets.etudiant.ServletUpEtu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueupetu</servlet-name>
        <jsp-file>/jsp/uploadEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vueresupload</servlet-name>
        <jsp-file>/jsp/resupload.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consulFvueEtu</servlet-name>
        <jsp-file>/jsp/consulFicheEtu.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletFichiersEtu</servlet-name>
        <servlet-class>servlets.etudiant.ServletFichiersEtu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueResActivite</servlet-name>
        <jsp-file>/jsp/resActivite.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>serListeGrp</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletListeGrp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serListeForma</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletListeForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ensAppel</servlet-name>
        <jsp-file>/ensAppel.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletAppel</servlet-name>
        <servlet-class>servlets.enseignant.ServletAppel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resAppel</servlet-name>
        <jsp-file>/jsp/resAppel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>resconsult</servlet-name>
        <jsp-file>/jsp/resconsult.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletFichiersRes</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletFichiersRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueFicheRes</servlet-name>
        <jsp-file>/jsp/FicheResponsable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletUpdateFi</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletUpdateFi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpLoadBdFi</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletUpLoadBdFi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmeAppelE</servlet-name>
        <jsp-file>/confirmeAppelE.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlets.etudiant.ServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bonjour</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletUploadXls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importationDonnees</servlet-name>
        <jsp-file>/importationDonnees.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AffecterEtudiant</servlet-name>
        <jsp-file>/AffecterEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>importAlert</servlet-name>
        <jsp-file>/importAlert.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletaffichergroupe</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletAfficherGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPhoto</servlet-name>
        <servlet-class>servlets.ServletGetPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ensAppel</servlet-name>
        <url-pattern>/ensAppel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <jsp-file>/connexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>servletChercherEnseig</servlet-name>
        <servlet-class>servlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/cx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletChercherEnseig</servlet-name>
        <url-pattern>/servletChercherEnseig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueenseig</servlet-name>
        <url-pattern>/vueenseig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletComfirmAppel</servlet-name>
        <url-pattern>/ServletComfirmAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serveletSaisirPres</servlet-name>
        <url-pattern>/saisirpres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueResponsable</servlet-name>
        <url-pattern>/vuerespon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletResProjet</servlet-name>
        <url-pattern>/servletResProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSupCreneau</servlet-name>
        <url-pattern>/servletSupCreneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSupProjet</servlet-name>
        <url-pattern>/servletSupProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAjCreneau</servlet-name>
        <url-pattern>/servletAjCreneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueEtudiant</servlet-name>
        <url-pattern>/vueetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEnsCre</servlet-name>
        <url-pattern>/servletEnsCre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alertConfirm</servlet-name>
        <url-pattern>/alertConfirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletetudiantpresence</servlet-name>
        <servlet-class>servlets.enseignant.ServletEtudiantEresence</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletetudiantpresence</servlet-name>
        <url-pattern>/servletetudiantpresence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsult</servlet-name>
        <url-pattern>/consult</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletConsultAppel</servlet-name>
        <servlet-class>servlets.enseignant.ServletConsultAppel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletConsultAppel</servlet-name>
        <url-pattern>/consultapp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletConsult</servlet-name>
        <jsp-file>/ConsulterAppel.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletCrenPres</servlet-name>
        <url-pattern>/servletCrenPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serveltEtuPreAct</servlet-name>
        <url-pattern>/serveltEtuPreAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpProjet</servlet-name>
        <url-pattern>/servletUpProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpEtu</servlet-name>
        <url-pattern>/jsp/servletUpEtu</url-pattern>
        <url-pattern>/servletUpEtu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueupetu</servlet-name>
        <url-pattern>/jsp/vueupetu</url-pattern>
        <url-pattern>/vueupetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueresupload</servlet-name>
        <url-pattern>/resupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulFvueEtu</servlet-name>
        <url-pattern>/consuetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFichiersEtu</servlet-name>
        <url-pattern>/servletFichiersEtu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueResActivite</servlet-name>
        <url-pattern>/resact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>downloadEtudiant</servlet-name>
        <jsp-file>/jsp/downloadEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletsEtuDownload</servlet-name>
        <servlet-class>servlets.etudiant.ServletEtuDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletsEtuDownload</servlet-name>
        <url-pattern>/ServletsEtuDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadEtudiant</servlet-name>
        <url-pattern>/downloadEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serListeGrp</servlet-name>
        <url-pattern>/serListeGrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serListeForma</servlet-name>
        <url-pattern>/serListeForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAppel</servlet-name>
        <url-pattern>/servletAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resAppel</servlet-name>
        <url-pattern>/resAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resconsult</servlet-name>
        <url-pattern>/resconsult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFichiersRes</servlet-name>
        <url-pattern>/servletFichiersRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vueFicheRes</servlet-name>
        <url-pattern>/vueficheres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpdateFi</servlet-name>
        <url-pattern>/servletUpdateFi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpLoadBdFi</servlet-name>
        <url-pattern>/servletUpLoadBdFi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmeAppelE</servlet-name>
        <url-pattern>/confirmeAppelE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bonjour</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importationDonnees</servlet-name>
        <url-pattern>/importationDonnees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffecterEtudiant</servlet-name>
        <url-pattern>/AffecterEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletchoisirgroupe</servlet-name>
        <url-pattern>/choixgroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlettoutetu</servlet-name>
        <url-pattern>/toutetu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletaffecter</servlet-name>
        <url-pattern>/affecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletetuchoisi</servlet-name>
        <url-pattern>/etuchoisi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletajoutergroupe</servlet-name>
        <url-pattern>/ajoutergroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletchoisirformation</servlet-name>
        <url-pattern>/choisirformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletchoisircours</servlet-name>
        <url-pattern>/choisircours</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletchoisirgroupe</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletChoisirGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlettoutetu</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletToutEtu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletaffecter</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletAffecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletetuchoisi</servlet-name>
        <servlet-class>servlets.servletetuchoisi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletajoutergroupe</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletAjouterGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletchoisirformation</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletChoisirFormation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletchoisircours</servlet-name>
        <servlet-class>servlets.enseignant.responsable.ServletChoisirCours</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>importAlert</servlet-name>
        <url-pattern>/importAlert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletaffichergroupe</servlet-name>
        <url-pattern>/servletaffichergroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPhoto</servlet-name>
        <url-pattern>/servletPhoto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
                        30
                </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
